<h1>Categories</h1>
    <table>
        <tr>
            <th>No</th>
            <th>name</th>
        </tr>
        <tr>
            <td><%= categories.name %></td>
        </tr>        
    </table>
<br>
<a href="/categories/new">Create Category </a>